{% load static %}
<!DOCTYPE html><html>

  <head><meta charset="utf-8"/>

  
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- Site Metas -->
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Tester</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css'%}"/>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link href="{%static 'css/style.css'%}" rel="stylesheet"/>
  {% block style %}
  {% endblock %}
  <!-- responsive style -->
  <link href="{%static 'css/responsive.css'%}" rel="stylesheet"/>
</head>

<body>
  {% block hero %}

  {% endblock %}


  <header class="header_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              <span>
                Tester
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex  flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href={% url 'home_page' %}>Главная <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">О нас </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Контакты</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'set_test_page' %}>Тесты</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'set_test_page' %}>Создать тест</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'signIn_page' %}> Вход</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  {% block content %}
  {% endblock %}